@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap'); 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Nunito', sans-serif;
    --color: #1b1b1b;
    --second-color: #858585;
    --border-radius: 5px;
}

body {
    color: var(--color);
    font-family: var(--font-family);
    background-color: #ffffff;
}
